* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgba(89, 0, 16, 0.3215686275);
}

.gg-sun {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1)) translate(6%, -45%);
  width: 24px;
  height: 24px;
  background: linear-gradient(to bottom, currentColor 0px, rgb(255, 174, 0) 0) no-repeat 5px -7px/2px 6px, linear-gradient(to bottom, currentColor 0px, rgb(255, 174, 0) 0) no-repeat 5px 14px/2px 6px, linear-gradient(to bottom, currentColor 0px, rgb(255, 174, 0) 0) no-repeat -8px 5px/6px 2px, linear-gradient(to bottom, currentColor 0px, rgb(255, 174, 0) 0) no-repeat 14px 5px/6px 2px;
  border-radius: 100px;
  box-shadow: inset 0 0 0 2px rgb(255, 174, 0);
  border: 6px solid transparent;
}

.gg-sun::after,
.gg-sun::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 2px;
  border-right: 4px solid rgb(255, 174, 0);
  border-left: 4px solid rgb(255, 174, 0);
  left: -6px;
  top: 5px;
}

.gg-sun::before {
  transform: rotate(-45deg);
}

.gg-sun::after {
  transform: rotate(45deg);
}

.gg-moon,
.gg-moon::after {
  display: block;
  box-sizing: border-box;
  border-radius: 50%;
}

.gg-moon {
  overflow: hidden;
  position: relative;
  transform: rotate(-135deg) scale(var(--ggs, 1)) translate(-59%, -22%);
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-bottom-color: transparent;
}

.gg-moon::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 18px;
  border: 2px solid black;
  box-shadow: 0 0 0 2px;
  top: 8px;
}

header {
  font-weight: 600;
  position: fixed;
  z-index: 9999;
  width: 100%;
  top: 0;
  background-color: #590010;
  margin: auto;
}
header .col-11 {
  padding: 5px;
}
@media (max-width: 574px) {
  header .col-11 {
    width: 74%;
  }
}
@media (max-width: 574px) and (max-width: 550px) {
  header .col-11 {
    width: 65%;
  }
}
header .navbar-brand {
  display: flex;
  gap: 10px;
  width: 56px;
  align-items: center;
}
header .navbar-brand img {
  width: 100%;
}
header .navbar-brand span {
  font-size: 40px;
  color: white;
}
@media (max-width: 550px) {
  header .navbar-brand span {
    font-size: 30px;
  }
}
header .navbar-collapse {
  font-size: 20px;
  justify-content: end;
  gap: 10px;
}
header .navbar-collapse .nav-link {
  color: white;
}
header .navbar-collapse .search {
  position: relative;
}
header .navbar-collapse .search .btnSearch {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  transform: translate(-7px, 3px);
  background: none;
}
header .col-1 {
  display: flex;
  align-items: center;
  padding: 5px;
}
header .col-1 .cart {
  padding: 3px 10px;
  border-radius: 10px;
  background: red;
  border: 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-right: 5px;
}
header .col-1 .cart .info_cart {
  position: relative;
}
header .col-1 .cart .info_cart #soLuongDaChon {
  position: absolute;
  right: -5px;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.65);
  color: black;
  padding: 0px 5px;
  border-radius: 50%;
  font-size: 11px;
  font-weight: 800;
}
header .col-1 .icon_theme i {
  cursor: pointer;
  z-index: 1;
  opacity: 0;
}
header .col-1 .icon_theme i.active {
  opacity: 1;
  z-index: 2;
}

#carousel {
  margin-top: 110px;
}
#carousel .item {
  height: 30vh;
  width: 60%;
  margin: auto;
}
#carousel .item img {
  width: 100%;
  height: 100%;
}
#carousel::after {
  content: "";
  display: block;
  margin-top: 20px;
  width: 100%;
  height: 2px;
  background-color: rgb(243, 138, 212);
}

#product .container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  color: white;
}
#product #filter_pet {
  width: 300px;
}
@media (max-width: 1400px) {
  #product #filter_pet {
    width: 260px;
  }
}
#product #filter_pet .filter_content {
  background-color: #590010;
  border-radius: 15px;
  padding: 10px 0;
}
#product #filter_pet .filter_content.fixed {
  position: fixed;
  top: 110px;
  z-index: 1000;
  width: 300px;
  transition: transform 5s ease-in-out;
}
@media (max-width: 1400px) {
  #product #filter_pet .filter_content.fixed {
    width: 260px;
  }
}
#product #filter_pet .filter_content .title {
  padding: 5px 30px;
  font-size: 20px;
  font-weight: 700;
}
@media (max-width: 1400px) {
  #product #filter_pet .filter_content .title {
    font-size: 18px;
  }
}
@media (max-width: 1400px) and (max-width: 1200px) {
  #product #filter_pet .filter_content .title {
    padding-right: 0;
  }
}
@media (max-width: 1400px) and (max-width: 1200px) and (max-width: 990px) {
  #product #filter_pet .filter_content .title {
    font-size: 16px;
    padding-left: 25px;
  }
}
#product #filter_pet .filter_content .filter_item {
  margin: 0 3rem;
}
@media (max-width: 990px) {
  #product #filter_pet .filter_content .filter_item {
    margin-left: 40px;
  }
}
#product #filter_pet .filter_content .filter_item > li:not(:has(> div)) {
  margin: 10px 0 10px 4rem;
  font-weight: 600;
  list-style: disc;
}
@media (max-width: 1400px) {
  #product #filter_pet .filter_content .filter_item > li:not(:has(> div)) {
    font-size: 14px;
  }
}
@media (max-width: 1400px) and (max-width: 990px) {
  #product #filter_pet .filter_content .filter_item > li:not(:has(> div)) {
    font-size: 14px;
  }
}
#product #filter_pet .filter_content .resetFilter {
  border: 0;
}
#product #info_pet {
  width: 75%;
}
@media (max-width: 1400px) {
  #product #info_pet {
    width: 80%;
  }
}
#product #info_pet #filter_more {
  display: flex;
  justify-content: end;
}
#product #info_pet #filter_more select {
  border-radius: 15px;
  padding: 10px 20px;
  width: 23%;
}
@media (max-width: 1400px) {
  #product #info_pet #filter_more select {
    width: 25%;
  }
}
@media (max-width: 1400px) and (max-width: 1200px) {
  #product #info_pet #filter_more select {
    width: 60%;
  }
}
#product #info_pet .list_pet {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
@media (max-width: 1400px) {
  #product #info_pet .list_pet {
    justify-content: space-evenly;
  }
}
#product #info_pet .list_content {
  padding: 10px 10px;
  width: 25%;
}
@media (max-width: 1400px) {
  #product #info_pet .list_content {
    width: 30%;
  }
}
@media (max-width: 1400px) and (max-width: 1200px) {
  #product #info_pet .list_content {
    width: 40%;
  }
}
@media (max-width: 1400px) and (max-width: 1200px) and (max-width: 990px) {
  #product #info_pet .list_content {
    width: 50%;
  }
}
@media (max-width: 1400px) and (max-width: 1200px) and (max-width: 990px) and (max-width: 768px) {
  #product #info_pet .list_content {
    width: 80%;
  }
}
#product #info_pet .pet_item {
  position: relative;
  padding: 20px;
  border: 1px solid;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #590010;
}
@media (max-width: 1400px) {
  #product #info_pet .pet_item {
    width: 95%;
  }
}
@media (max-width: 1400px) and (max-width: 1200px) {
  #product #info_pet .pet_item {
    width: 90%;
  }
}
@media (max-width: 1400px) and (max-width: 1200px) and (max-width: 990px) {
  #product #info_pet .pet_item {
    width: 100%;
  }
}
#product #info_pet .pet_item img {
  width: 100%;
}
#product #info_pet .pet_item .pet_info {
  padding-top: 10px;
}
#product #info_pet .pet_item .pet_info h4 {
  font-size: 20px;
  height: 50px;
}
#product #info_pet .pet_item .pet_info div {
  display: flex;
  justify-content: space-between;
  height: 35px;
}
#product #info_pet .pet_item .quangCao {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  padding: 3px 3px 10px 10px;
  line-height: 15px;
  background-color: red;
  color: yellow;
  border-radius: 0 0 0 16px;
}
#product #info_pet .list_content:nth-child(n+9) {
  display: none;
}
.btn-style, #product #filter_pet .filter_content .resetFilter, #product #info_pet .pet_item .buyBtn, #product #info_pet #showMore {
  padding: 5px 15px;
  font-size: 16px;
  background: red;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  color: yellow;
}

#yourBill .table th,
#yourBill .table td {
  vertical-align: middle;
}
#yourBill .table .colSoLuong {
  align-items: center;
}
#yourBill .table .colSoLuong .btn {
  font-size: 2rem;
  line-height: 1rem;
  padding: 6px;
  padding-bottom: 10px;
}
#yourBill .table .colSoLuong .btn:first-of-type {
  padding: 8px 10px;
}

.col-style, #yourBill .table .colDesc, #yourBill .table .colSoLuong {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

footer {
  background-color: #590010;
  padding: 50px 0;
  border-radius: 10px 10px 0 0;
  color: white;
  font-size: 24px;
  font-weight: 600;
}
footer .content {
  display: flex;
  justify-content: space-between;
}
footer .content .right a {
  text-align: center;
  margin-left: 10px;
  width: 54px;
  height: 54px;
  line-height: 54px;
  border-radius: 50%;
  background-color: unset;
  transition: all 0.5s;
}
footer .content .right a:hover {
  color: red;
}/*# sourceMappingURL=main.css.map */