footer {
  background-color: #590010;
  padding: 50px 0;
  border-radius: 10px 10px 0 0;
  color: white;
  font-size: 24px;
  font-weight: 600;

  .content {
    display: flex;
    justify-content: space-between;

    .right a {
      text-align: center;
      margin-left: 10px;
      width: 54px;
      height: 54px;
      line-height: 54px;
      border-radius: 50%;
      background-color: unset;
      transition: all 0.5s;
      

      &:hover {
        color: red;
      }
    }


  }
}