#product {
    .container {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        color: white;
    }



    #filter_pet {
        width: 300px;

        @media (max-width:1400px) {
            width: 277px;

            @media (max-width:1200px) {
                width: 277px
            }
        }

        .filter_content {
            background-color: #590010;
            width: 300px;
            border-radius: 15px;
            padding: 10px 0;
            // position: absolute;

            @media (max-width:1400px) {
                width: 260px;

                @media (max-width:1200px) {
                    width: 277px
                }
            }

            &.fixed {
                position: fixed;
                top: 110px;
                z-index: 1000;
                transition: transform 5s ease-in-out;
            }

            .title {
                padding: 5px 30px;
                font-size: 20px; //ở đây
                font-weight: 700;

                @media (max-height:747px) {
                    padding: 1px 30px;
                }

                @media (max-width:1400px) {
                    font-size: 18px;

                    @media (max-width:1200px) {
                        padding-right: 0;

                        @media (max-width:990px) {
                            font-size: 16px;
                            padding-left: 25px;
                        }
                    }
                }
            }

            .filter_item {
                margin: 0 3rem;

                @media (max-width:990px) {
                    margin-left: 40px;
                }

                >li:not(:has(>div)) {
                    margin: 10px 0 10px 4rem;
                    font-weight: 600;
                    list-style: disc;

                    @media (max-height:747px) {
                        margin-top: 5px;
                        margin-bottom: 5px;
                    }

                    @media (max-width:1400px) {
                        font-size: 14px;

                        @media (max-width:990px) {
                            font-size: 14px;
                        }
                    }
                }
            }

            .resetFilter {
                @extend .btn-style;
                border: 0;
            }
        }

    }

    #info_pet {
        width: 75%;

        @media (max-width:1400px) {
            width: 80%;

            @media (max-width:1200px) {
                width: 68%;
            }
        }

        #filter_more {
            display: flex;
            justify-content: end;

            select {
                border-radius: 15px;
                padding: 10px 20px;
                width: 182px;
            }
        }

        .list_pet {
            display: flex;
            flex-wrap: wrap;
            justify-content: start;

            @media (max-width:1200px) {
                justify-content: space-evenly;
            }
        }

        .list_content {
            padding: 10px 10px;
            width: 25%;

            @media (max-width:1400px) {
                width: 30%;

                @media (max-width:1200px) {
                    width: 40%;

                    @media (max-width:990px) {
                        width: 50%;

                        @media (max-width:768px) {
                            width: 80%;
                        }
                    }
                }
            }
        }

        // nội dung của sp
        .pet_item {
            position: relative;
            padding: 20px;
            border: 1px solid;
            border-radius: 15px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            background-color: #590010;

            @media (max-width:1400px) {
                width: 95%;

                @media (max-width:1200px) {
                    width: 90%;

                    @media (max-width:990px) {
                        width: 100%;
                    }
                }
            }

            //  margin:15px 30px;
            img {
                width: 100%;
            }

            .pet_info {
                padding-top: 10px;

                h4 {
                    font-size: 20px;
                    height: 50px;
                }

                div {
                    display: flex;
                    justify-content: space-between;
                    height: 35px;
                }
            }

            .quangCao {
                position: absolute;
                top: 20px;
                right: 20px;
                font-size: 20px;
                padding: 3px 3px 10px 10px;
                line-height: 15px;
                background-color: red;
                color: yellow;
                border-radius: 0 0 0 16px;
            }

            .buyBtn {
                @extend .btn-style;
            }
        }

        // ẩn bớt sản phẩm 
        .list_content {
            &:nth-child(n+9) {
                display: none;
            }
            @media (max-width:1400px){
                &:nth-child(n+7){
                    display: none;
                }
            }
        }

        #showMore {
            @extend .btn-style
        }
    }

}

.btn-style {
    padding: 5px 15px;
    font-size: 16px;
    background: red;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    color: yellow;
}

//<i class="fa-solid fa-tag"></i> giảm giá